.headerContainer {
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.headerContainer > * {
  display: inline-block;
  vertical-align: middle;
}

.headerContainer > h1 > span {
  color: #b10a0a;
}

.container {
  width: max-content;
  font-weight: bold;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

.container > li {
  color: #b10a0a;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
}

.container h2 {
  font-style: italic;
  font-size: 1.3rem;
  padding: 0.4rem 0;
}

.imageContainer {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  max-height: 100px;
}

.links {
  width: 100%;
  background: #2e2a2ad3;
  padding: 0.25rem;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}

.links a:first-child {
  padding-right: 0.5rem;
}

.links a {
  text-align: left;
  display: inline;
  color: #ffffff;
  fill: #b10a0a;
  text-decoration: none;
  transition: fill 0.3s ease-in-out;
}

.links a:hover,
.links a:focus {
  fill: #59eea9;
  
}

.links span {
  font-size: 0.9rem;
  display: inline;
  vertical-align: middle;
}

.links svg {
  height: 20px;
  display: inline;
  vertical-align: middle;
  max-height: 1.4rem;
  padding-right: 0.25rem;
}

.form {
  font-size: 1.4rem;
  text-align: center;
}

.form label {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.form input {
  font-size: 1.4rem;
  padding: 0.6rem;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.form button[type='submit'] {
  padding: 0.6rem;
  border-radius: 0 8px 8px 0;
}

@media screen and (max-width: 680px) {
  .container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (max-width: 450px) {
  .container {
    grid-template-columns: repeat(1, 200px);
  }
}
