.trigger {
  font-weight: bold;
  color: #ffffff;
  background-color: #2e2a2aec;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  border: none;
  outline: 1px solid #59eea9;
  transition: all 0.5s ease-in-out;
}

.trigger:first-of-type {
  margin-right: 0.5rem;
}

.objectives {
  position: fixed;
  top: 100px;
  left: -400px;
  max-width: max-content;
  max-height: calc(100vh - 2.3rem);
  color: #ffffff;
  font-weight: bold;
  background-color: #2e2a2aec;
  padding: 0.8rem;
  text-align: center;
  border-radius: 0 12px 12px 0;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
}

.objectivesShown {
  left: 0;
  border-width: 0;
  outline: 1px solid #59eea9;
}

.objectives > h2 {
  padding-bottom: 1rem;
}

.objectives > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.objectives img {
  max-height: 40px;
  margin-bottom: 0.3rem;
}

.item {
  width: 100%;
  height: max-content;
  position: relative;
}

.item > svg {
  fill: #24bd24;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
}
